@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #b8b5ff;
  font-family: 'Libre Baskerville', serif;
}

.App img {
  width: 60px;
  height: 60px;
  background-size: cover;
}

.App .ulNav {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 75px;
  background-color: #7868e6;
  box-shadow: 0 0 10px black;
}
.App .ulNav li {
  list-style-type: none;
}
.App .ulNav li a {
  text-decoration: none;
}

.activeLink {
  color: red;
}