html, body {
  margin: 0;
}
.App .ulNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 50px;
  background-color: teal;
}
.App .ulNav li {
  list-style-type: none;
}
.App .ulNav li a {
  text-decoration: none;
}

.activeLink {
  color: red;
}