@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #7373D9;
  font-family: 'Libre Baskerville', serif;
}

.App .ulNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 75px;
  background-color: rgb(252, 207, 6);
}
.App .ulNav li {
  list-style-type: none;
}
.App .ulNav li a {
  text-decoration: none;
}

.activeLink {
  color: red;
}