.PostFull {
    padding-top: 30px;
    text-align: center;
}
.PostFull a {
    text-decoration: none;
    font-size: 20px;
}
.PostFull a:hover {
    color: red;
    text-shadow: 0 0 10px black;
}
.img {
    width: 700px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
}